/* //////////////////////////////////////////////// */
/* ///////////////////MOBILE/////////////////////// */
/* //////////////////////////////////////////////// */

@media(max-width: 1000px){

/*/////////////////////WHATSAPP BUTTON////////////////////// */ 
/* .whatsapp.fixed{
    position:absolute;
  bottom:20px;
	right:10px; 
  }  */
.whatsapp{
    opacity: 1;
    position:fixed;
	width:600px;
	height:140px;
	bottom:0px;
	left:190px;         
	color:white;
	border-radius:10px 10px 0 0;
	text-align:center;
    z-index:100;
    background: black;
    padding: 20px 0;
}
.float{
    all: revert;
    text-decoration: none;
	width:100px;
	height:100px;
  font-size:100px;
  position: relative;
  bottom: 15px;
  right: 35%;

}

.float .my-float{
    background: -webkit-linear-gradient(15deg, #13547a 0%, #80d0c7 100%);          
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: 2s ease 0s infinite normal none running fontgradient;
    -webkit-animation: fontgradient 2s ease infinite;
    -moz-animation: fontgradient 2s ease infinite;
    animation: fontgradient 2s ease infinite;
  }

.float .hidden-popup{
    all: revert;
    font-family: 'Sora', 'sans-serif';
    font-size: 30px;
    display: block !important;
    opacity: 1;
    padding: 30px 0;
    width: 600px;
    position: relative;
    bottom: 210px;
    left: 45%;
    background: -webkit-linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: 2s ease 0s infinite normal none running fontgradient;
    -webkit-animation: fontgradient 2s ease infinite;
    -moz-animation: fontgradient 2s ease infinite;
    animation: fontgradient 2s ease infinite;
}

/*/////////////////////HEADER & NAVBAR MOBILE////////////////////// */  
  header {
    z-index: 1;
    font-family: "Sora", sans-serif;
    background: none;
    padding-bottom: 6px;
  }
  
  #header.header-scrolled {
    background: rgba(0, 0, 0, 0.8);
  }
  
  .nav-link, .nav-link:focus {
    font-size: 40px;
    font-weight: 600;
    margin: 10px 0px !important;
    padding: 15px 30px !important;
    /* padding: 15px !important; */
    color: white;
    border-radius: 10px;
  }
  .navbar{
    padding: 0 !important;
  }
  .navbar-nav a:hover,
  .navbar-nav .active,
  .navbar-nav .active:focus,
  .navbar-nav li:hover>a {
    display: inline-block;
    color: white !important;
    background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
    transition: 0.5s; 
    -webkit-transform: scale(1.1);
    z-index: 2;
  }
  .navbar-toggler{
    font-size: 70px;
    padding: 30px;
  
    border: none;
    background-color: black;
  }
  .navbar-toggler:focus,
  .navbar-toggler:active,
  .navbar-toggler-icon:focus {
      outline: none;
      box-shadow: none;
      
  }
  /* Define the shape and color of the hamburger lines */
  .navbar-toggler span {
    display: block;
    /* background-color: #80d0c7; */
    background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
    
    height: 7px;
    width: 100px;
    margin-top: 25px;
    margin-bottom: 15px;
    position: relative;
    left: 0;
    opacity: 1;
    transition: all 0.35s ease-out;
    transform-origin: center left;
  }
  
  
  /* top line needs a little padding */
  .navbar-toggler span:nth-child(1) {
    margin-top: 0.3em;
  }
  .navbar-toggler span:nth-child(2) {
    background-color: #80d0c7;
  }
  /**
  * Animate collapse into X.
  */
  
  /* top line rotates 45 degrees clockwise and moves up and in a bit to close the center of the X in the center of the button */
  .navbar-toggler:not(.collapsed) span:nth-child(1) {
    transform: translate(15%, -33%) rotate(45deg);
  }
  /* center line goes transparent */
  .navbar-toggler:not(.collapsed) span:nth-child(2) {
    
    opacity: 0;
  }
  /* bottom line rotates 45 degrees counter clockwise, in, and down a bit to close the center of the X in the center of the button  */
  .navbar-toggler:not(.collapsed) span:nth-child(3) {
    transform: translate(15%, 33%) rotate(-45deg) ;
  }
  
  
  /**
  * Animate collapse open into hamburger menu
  */
  
  /* top line moves back to initial position and rotates back to 0 degrees */
  .navbar-toggler span:nth-child(1) {
    transform: translate(0%, 0%) rotate(0deg) ;
  }
  /* middle line goes back to regular color and opacity */
  .navbar-toggler span:nth-child(2) {
    opacity: 1;
  }
  /* bottom line goes back to initial position and rotates back to 0 degrees */
  .navbar-toggler span:nth-child(3) {
    transform: translate(0%, 0%) rotate(0deg) ;
  }

  /*/////////////////////HOME INTRO////////////////////// */
  
  #home {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to top, rgba(0,0,0,0.6) 30%, rgba(0,0,0,0)),url("AdobeStock_103570025.jpeg");
    background-size: cover;
    background-position: center center;
  }
  
  #home .container {
    position: relative;
    top: -400px;
    text-align: center;
    overflow: hidden;
  }
  
  #home .companyLogo {
    width: 100%;
    z-index: 2;
    padding:30px;
    border-radius: 5px;
    filter: drop-shadow(16px 16px 10px black);
  }
  #home h1 {
    letter-spacing: 3px;
    margin: 0;
    font-size: 60px;
    font-weight: 600;
    line-height: 70px;
    padding-top: 10px;
    padding-left: 10px;
  }
  #home h2 {
    color: rgba(255, 255, 255, 0.9);
    margin: 10px 0 0 0;
    font-size: 24px;
  }
  #home .square  {
    font-size: 25px;
    margin-left: 2px;
  }
  
  /* /////////////////Sections General/////////////// */
  .section-features{
    padding: 60px 0;
  }
  .section-title {
    margin: 40px 0 20px;
    padding: 30px !important;
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap; 
    
  }
  .section-title span {
    position: relative;
    display: inline-block;
    font-size: 60px;
    font-weight: 500;
    line-height: 1px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #151515;
    font-family: "Poppins", sans-serif;
    margin-bottom: 50px !important;
  }
  .section-title > span::before,
  .section-title > span::after {
      content: "";
      position: absolute;
      top: 50%;
      width: 9999px;
      height: 3px;
      background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
  }
  
  .section-title > span::before {
      right: 100%;
      margin-right: 15px;
  }
  
  .section-title > span::after {
      left: 100%;
      margin-left: 15px;
  }
  /* .section-title h2::before {
    content: "";
    width: 150px;
    height: 3px;
    display: inline-block;
    background: #ffde9e;
    margin-right:15px;
  } */
  .section-title h2::after {
    width: 0;
  }
  .section-title p {
    text-align: center;
    margin: 0;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    color:  #aaaaaa;
  }
  
  /* ///////////////////PRODUCTS///////////////// */
  #products{
    margin-bottom: 0px !important;
  }
  .section-features.products{
    padding: 60px 0 0 0;
  }
  .masonry { /* Masonry container */
    -webkit-column-count: 1;
  -moz-column-count:1;
  column-count: 1;
  -webkit-column-gap: 1em;
  -moz-column-gap: 1em;
  column-gap: 1em;
   margin: 1.5em;
    padding: 0;
    -moz-column-gap: 1.5em;
    -webkit-column-gap: 1.5em;
    column-gap: 1.5em;
    font-size: .85em;
    overflow: hidden; 
    max-height: 2300px;
    margin-bottom: -350px;
  }
  .masonry.collapse-open{
    max-height: 100% !important;
    margin-bottom: 0px !important;
    transition:all 5s;
  } 
  /* .masonry.collapse-closed{
    max-height: 100% !important;
    margin-bottom: 0px !important;
    transition:all 5s;
  }
  .masonry.collapse-open{
    max-height: 2300px;
    margin-bottom: -350px;
    transition:all 5s;
  } */
  .expand-icon{
    text-align: center;
    background-color: rgba(0,0,0,0.8);
    padding: 70px 0px;
    margin-bottom: 0px !important;
    position: relative;
    bottom: 0px;
  }
  .expand-icon h6{
    color: white;
    font-family: 'Sora', 'sans-serif';
    font-size: 40px;
  }
  @keyframes downarrow {
    0% { -webkit-transform: translateY(0); opacity: 0.4 }
    100% { -webkit-transform: translateY(0.4em); opacity: 0.9 }
  }
  
  .bxs-chevrons-down{
    font-size: 100px;
    background: -webkit-linear-gradient(15deg, #13547a 0%, #80d0c7 100%);          
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: 2s ease 0s infinite normal none running fontgradient;
    -webkit-animation: fontgradient 2s ease infinite;
    -moz-animation: fontgradient 2s ease infinite;
    animation: fontgradient 2s ease infinite;
    animation: downarrow 0.6s infinite alternate ease-in-out;

  }
  .item {
    display: inline-block;
    background: #fff;
    padding: 1em;
    margin: 0 0 1.5em;
    width: 100%;
    -webkit-transition: 1s ease all;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    
  }
  .item img{
    max-width:100%; 
    height: auto;
    border-radius: 10px 10px 0 0!important;
  }
  
  .item h4 {
    border-radius: 0 0 10px 10px !important;
    text-align: center;
    font-size: 45px;
    color: #fff;
    font-weight: 400;
    background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
    font-family: 'Sora', 'sans-serif';
    padding: 10px 0;
  }
  
  
  /* ///////////////////SERVICES///////////////// */
  
    
    .postcard__img {
      max-width: 100%;
      max-height: 100%;
      transition: transform 0.3s ease;
    }
  
    .postcard__text {
      padding: 3rem;
      width: 100%;
      word-spacing: 2% !important;
    }



/* ///////////////////CONTACT///////////////// */

  iframe{
    border-radius: 10px;
    width: 100%;
  height: 450px;
  }
  #contact .info {
    width: 80%;
    margin: 50px 20px;
  }
  #contact .map-and-details{
    margin-bottom: 50px;
  }
  #contact .info i {
    font-size: 70px;
    background-image: -webkit-linear-gradient(15deg, #13547a 0%, #80d0c7 100%);          
    color: white;
    float: left;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
  }
  #contact .info .details {
    margin-bottom: 100px;  
  }
  
  #contact .info .whatsapp-api{
    text-align: center;
    opacity: 0;
    width: 100%;
    margin-top: 50px;
    padding: 10px 0px 2px;
    background-image: -webkit-linear-gradient(15deg, #13547a 0%, #80d0c7 100%);     
    border-radius: 60px 10px 10px 50px;   
    position: relative;
    right: 10px;
    animation-name: none;
  }
  
  
  #contact .info .whatsapp-api.open {
    all: revert;
  }
  #contact .info .whatsapp-api i{
    background-image: -webkit-linear-gradient(15deg, #13547a 0%, #80d0c7 100%);  
    border-radius: 70px;
    width: 140px;
    height: 140px;
    font-size: 90px;
    position: relative;
    bottom: 30px;
    /* padding-right: 10px; */
  }
  #contact .info .whatsapp-api .whatsapp-button{
    text-decoration: none !important;
  }
  
  #contact .info .whatsapp-api .whatsapp-connect{
    color: white;
    font-size: 35px;
    padding-left: 80px;
  }

  #contact .info h4 {
    padding: 0 0 0 150px;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 5px;
    color: white;
    
  }
  
  #contact .info p {
    padding: 0 0 0 150px;
    margin-bottom: 0;
    font-size: 25px;
    color: #b1b1b1;
  }
  
  #contact .info .email,
  #contact .info .phone {
    /* margin-top: 40px; */
  }
   /* //////////////////////ENQUIRY FORM///////////////////////// */
   #enquiry {
    margin-bottom: 100px;
  }
  #enquiry .container-fluid{
    width: 90%;
  }
  #enquiry .php-email-form {
    width: 100%;
    /* background: transparent; */
  }
  
 

  #enquiry .php-email-form .form-group {
    padding-bottom: 8px;
  }
  
  #enquiry .php-email-form .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: left;
    padding: 15px;
    font-weight: 600;
  }
  
  #enquiry .php-email-form .error-message br+br {
    margin-top: 25px;
  }
  
  #enquiry .php-email-form .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    font-weight: 600;
  }
  
  #enquiry .php-email-form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
  }
  
  #enquiry .php-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #18d26e;
    border-top-color: #eee;
    -webkit-animation: animate-loading 1s linear infinite;
    animation: animate-loading 1s linear infinite;
  }
  
  #enquiry .php-email-form .basic,
  #enquiry .php-email-form textarea {
    border: none;
    background-color: #000;
    color: white;
    box-shadow: none;
    font-size: 35px;
    border-radius: 6px;
    padding: 60px;
    padding-left: 36px;
  }
  
  #enquiry .php-email-form .basic:focus,
  #enquiry .php-email-form textarea:focus {
    border: solid 2px;
    border-image: white; 
    border-image-slice: 1;
    border-image: 10px;
  }
  
  #enquiry .php-email-form .basic {
    height: 100px;
  }
  #enquiry .php-email-form [type=checkbox] {
    all: revert;
  }
  
  #enquiry .php-email-form textarea {
    padding: 10px 12px;
  }
  
  .checkbox-form{
    background-color: #000;
    margin-top: 10px;
    border: solid black;
    border-radius: 4px;
    padding: 30px; 
    height: auto;
  }
  
  .checkbox-form .checkbox-title{
    font-size: 32px;
    display: inline-block;
    color: #6c757d;
    margin-right: 50px;
    opacity: 1;
  }
  .checkbox-form .form-check{
    display: block;
    padding: 10px 20px;
    background-color: #18151f;
    margin: 30px;
    border-radius: 4px;
  }
  
  .checkbox-form .form-check .form-check-input{
    margin-top: 15px;
    margin-left: 25px;
    background-color: white;
  }
  .checkbox-form .form-check .form-check-input:checked{
    background: -webkit-linear-gradient(15deg, #13547a 0%, #80d0c7 100%); 
  }
  .checkbox-form .form-check .form-check-input:focus{
    outline: 1px solid black;
    outline: 1px auto -webkit-focus-ring-color;
    
  }
  .checkbox-form .form-check-label{
    color: white;
    font-size: 32px;
    margin-left: 30px;
    margin-right: 10px;
  }

  #enquiry .php-email-form button[type=submit] {
    font-size: 35px;
    width: 40%;
    border: solid 6px;
    border-image: -webkit-linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
    border-image-slice: 1;
  }
  
  
  @-webkit-keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  


  /* ///////////////////FOOTER///////////////// */

  footer {
    bottom: 0;
    height: 2.5rem;
    padding: 100px;
    padding-bottom: 250px;
    color: #ccc;
    font-size: 40px;
  }
  



















}